#Logs
logs
*.logs

# Node.js
frontend/node_modules
backend/node_modules

# Local env files
frontend/.env
backend/.env
.env.local

# Vite cache
.vite/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sw?

# Optional: coverage reports
coverage/
*.lcov

# Optional: Mac system files
.AppleDouble
.LSOverride

# Optional: Vercel CLI config
.vercel/

# Optional: eslint / prettier cache
.eslintcache
.prettiercache
